# Local Spring Boot backend
NEXT_PUBLIC_AUTHGATE_API_BASE_URL=http://localhost:8080/api/v2/
AUTHGATE_API_BASE_URL=http://localhost:8080/api/v2/
NEXT_PUBLIC_AUTHGATE_ORIGIN=https://astor-shop.authgate.site
NEXT_PUBLIC_AUTHGATE_LOGIN_URL=https://astor-shop.authgate.site/bff/login?return_to=%2F
NEXT_PUBLIC_AUTHGATE_LOGOUT_URL=https://astor-shop.authgate.site/bff/logout

# AuthGate same-origin production setup
# NEXT_PUBLIC_AUTHGATE_API_BASE_URL=/api/v2/
# AUTHGATE_API_BASE_URL=https://astor-shop.authgate.site/api/v2/
# NEXT_PUBLIC_AUTHGATE_LOGIN_URL=/bff/login?return_to=%2F
# NEXT_PUBLIC_AUTHGATE_LOGOUT_URL=/bff/logout
